.parent1{
 
    background-color: rgb(128, 87, 0);
}

.par1{
    font-size: large;
    background-color: honeydew;
    
}
.par2{
    font-size: medium;
    background-color: rgb(77, 235, 77);
    
}

.par3{
    font-size: small;
    background-color: rgb(41, 27, 136);
    
}

